* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --cor-card1: hsl(263, 55%, 52%); 
    --cor-card2: hsl(217, 19%, 35%); 
    --cor-card3-card5: hsl(0, 0%, 100%); 
    --cor-card4: hsl(219, 29%, 14%);
}

section {
    max-width: 1440px;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 15em 15em 15em 15em;
    grid-template-rows: 12em 12em;
    grid-gap: 10px;
    grid-template-areas:
    "card1 card2 card5"
    "card3 card4 card5";

}

.card1 {
    background-color: var(--cor-card1);
    grid-area: card1;
    grid-column: 1 / span 2;
}

.card2 {
    background-color: var(--cor-card2);
    grid-area: card2;
    grid-column: 3 / span 1;
}

.card3, .card5 {
    background-color: var(--cor-card3-card5);
    grid-area: card3;
}

.card4 {
    background-color: var(--cor-card4);
    grid-area: card4;
    grid-column: 2 / span 2;
}

.card5 {
    grid-area: card5;
    grid-column: 4 / span 1;
}

p {
    font-size: 12px;
}